<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>

    <ul>
        <% docs.forEach(function(customer){ %>
            <li>
                 <a href="/edit/<%= customer._id %>">
                    <%= customer.nome %>
                 </a>
                  <a href="/delete/<%= customer._id %>" onclick="return confirm('Tem certeza que deseja excluir?');">
                  <img src="http://192.168.1.77:3000/images/trash.png" alt="X" height="12" width="12"/>
                  </a>
            </li>
        <% }) %>
    </ul>

    <hr />
    <a href="/new">Cadastrar novo cliente</a>

  </body>
</html>
